{% load static %}
<!doctype html>
<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Averia+Libre" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">


  {% if recipe.title %}
  <title>{{ recipe.title }} - Recipe</title>
  {% else %}
  <title>Recipes</title>
  {% endif %}

</head>


<body>

  <main role="main" class="container">
    <div class="row">
      <div class="col-3">
        <nav class="sidebar">
          {% with request.resolver_match.url_name as url_name %}
          <ul id="menu">
            <li class="home"><a href="{% url 'blog-home' %}">Home</a></li>
            <li class="weblog"><a href="{% url 'weblog' %}">Weblog</a></li>
            <li class="active">Recipes</li>
            <li class="projects"><a href="{% url 'projects' %}">Projects</a></li>
            <li class="contact"><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
          {% endwith %}
        </nav>
      </div>
      <div class="col-md-9">

        <header class="header">
          <h1 class="intro">Hi, I'm Fadi <span>H</span>.</h1>
          <small class="intro-small">w<span>e</span>lcome to my
            s<span>m</span>all-i<span>s</span>h co<span>r</span>ner of the
            <span>w</span>eb.</small>
        </header>

        <hr>

        {% block content %}{% endblock %}

      </div>
    </div>
  </main>

  <footer class="footer">
    <p>&copy; Fadi Hammad {% now "Y" %} — <a href="mailto:fadihammad914@gmail.com" title="E-Mail"><i class="fas fa-envelope"></i></a> — <a href="https://github.com/Fadi-SH" title="GitHub"><i class="fab fa-github"></i></a> — <a href="" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a></p>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
