{% extends "recipes/base.html" %}

{% block content %}

<h2>My Recipe Collection ‍🍳👨🏻‍🍳🍴</h2>
<br>
<br>
<div class="container">
  <div class="row">
    {% for recipe in recipes.all %}
    <div class="col-4">
      <article>
        <div>
          <h3><a class="article-title" href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a></h3>
          <img class="img-fluid" src="{{ recipe.image.url }}" height=200 width=200 />
          <p class="article-content"><em>{{ recipe.summary }}</em></p>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
