{% extends "projects/base.html" %}

{% block content %}

<h2>Projects</h2>
<br>
<div class="container">
  <div class="row">
    {% for project in projects %}
    <div class="col-10">
      <article>
        <div>
          <h3><a class="article-title" href="{% url 'project_detail' slug=project.slug %}">{{ project.title }}</a></h3>
          <p class="article-content"><em>{{ project.summary }}</em></p>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</div>

<div class="pagination float-right">
    <span class="step-links">
        {% if projects.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ projects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
        </span>

        {% if projects.has_next %}
            <a href="?page={{ projects.next_page_number }}">next</a>
            <a href="?page={{ projects.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
