{% extends "contact/base.html" %}

{% block content %}

<main class="content">
  <h2>Get in touch</h2>
  <p>I stay extremely busy with my job, however the best way to contact me is via email.</p>
  <ul class="contactbar">
    <li> <a href="mailto:fadihammad914@gmail.com" title="E-Mail"><i class="fas fa-envelope"></i></a> </li>
    <li> <a href="https://github.com/fadi-sh" title="GitHub"><i class="fab fa-github"></i></a> </li>
    <li> <a href="https://www.linkedin.com" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a> </li>
  </ul>
  <h2>Places on the web</h2>

  <h3>Plant Supplies</h3>
  <ul>
    <li>Venus Fly Traps from <a href="https://www.flytrapcare.com/store/">flytrapcare</a></li>
  </ul>
  <h3>Resources</h3>
  <ul>

  </ul>
</main>

{% endblock content %}
